@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>


    <h2>Index</h2>
    bloublou

    <a asp-controller="App" asp-action="Index">toto</a>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>


